---
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import XIcon from "../icons/XIcon.astro";
---

<footer class="bg-slate-900 text-white py-6">
  <div class="flex justify-center items-center gap-6">
    <a
      href="https://twitter.com/PieroCV8"
      class="hover:text-blue-400 duration-200 transition-colors flex flex-col justify-center items-center w-24"
    >
      <XIcon />
      <p>X (ex Twitter)</p>
    </a>
    <a
      href="https://www.linkedin.com/in/pierocasusol/"
      class="hover:text-blue-400 duration-200 transition-colors flex flex-col justify-center items-center w-24"
    >
      <LinkedInIcon />
      <p>LinkedIn</p>
    </a>
    <a
      href="https://github.com/IA-PieroCV"
      class="hover:text-blue-400 duration-200 transition-colors flex flex-col justify-between items-center w-24"
    >
      <GithubIcon />
      <p>GitHub</p>
    </a>
  </div>
  <div class="flex mt-2 justify-center items-center">
    © Piero Casusol, 2023
  </div>
</footer>
